.container {
    text-align: center;
    font-family: 'Roboto', sans-serif; 
  }
  
  .actionButtons {
    position: absolute;
    top: 8%;
    right: 2%;
    z-index: 999;
  }
  
  .ingredients {
      padding: 1% !important;
  }
  
  .instructions {
      padding: 4% !important;
  }
  
  @media print {
    .hide-print {
      display: none;
    }
    .removeLinks {
      color: inherit;
      text-decoration: none;
    }
  }
  