<mat-sidenav-content>
    <div class="backdrop">
        <div class = "spacer"></div>
        <div class="formContainer">
            <div class="header">
                <h1>Login</h1>
            </div>
            <br />
            <div class="form">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input [formControl] = "username" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input [formControl] = "password" matInput>
                </mat-form-field>
                <br/>
                <button mat-raised-button color="primary" (click)="login()">Login</button>
                <hr />
                <button mat-raised-button color="accent" [routerLink]="['/Signup']">Click to sign up</button>
                <button mat-raised-button color="accent" (click)="forgetPassword()" [disabled]="disableForgetPasswordButton">Forgot Password</button>
            </div>
        </div>
    </div>
</mat-sidenav-content>