@use "@material/snackbar/mdc-snackbar";

.container{
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -25%;
}
.backdrop{
    background-image: url('../../assets/LoginBackdrop.jpg');
}