<div style="text-align: center">
  <h1 mat-dialog-title>Forgot Password</h1>
  <div mat-dialog-content>
    <p>Are you sure you want to reset your password?</p>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput [formControl]="firstName" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [formControl]="username" />
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Suggested Password</mat-label>
      <input matInput [formControl]="suggestedPassword" />
    </mat-form-field>
  </div>
  <hr />
</div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="closeDialog(false)">
      No Thanks
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="closeDialog(true)"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>

