<div style="text-align: center">
  <h1 mat-dialog-title>Edit Recipe</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Recipe Name</mat-label>
      <textarea matInput [formControl]="recipeName"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Summary</mat-label>
      <textarea matInput [formControl]="recipeSummary"></textarea> 
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Ingredient(s)</mat-label>
      <textarea  matInput [formControl]="recipeIngredients" ></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Instruction(s)</mat-label>
      <textarea matInput [formControl]="recipeInstructions"></textarea>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Comment(s)</mat-label>
      <textarea matInput [formControl]="recipeComments" ></textarea>
    </mat-form-field>
    <br />
  </div>
  <hr />
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="closeDialog(false)">
    Cancel
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="closeDialog(true)"
    cdkFocusInitial
  >
    Edit
  </button>
</div>
