<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipe Book</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button class="buttons" mat-button color="primary" [routerLink]="['/']">
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          class="buttons"
          mat-button
          color="primary"
          [routerLink]="['/Search']"
        >
          Search Recipes
        </button>
      </li>
      <li class="nav-item">
        <button
          class="buttons"
          mat-button
          color="primary"
          [routerLink]="['/Personal']"
        >
          Personal Recipes
        </button>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="buttons" mat-button color="primary" (click)="logOut()">
        Log Out
      </button>
    </div>
  </div>
</nav>
