.formContainer{
    padding-top: 2vh;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: whitesmoke;
    opacity: 0.9;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.spacer{
    padding-top: 20vh;
}
.backdrop{
    background-image: url('../../assets/LoginBackdrop.jpg');
    background-size: 60%;
    height:100vh;
}