<mat-sidenav-content>
    <div class="backdrop">
        <div class = "spacer"></div>
        <div class="formContainer">
            <div class="header">
                <h1>Sign Up</h1>
            </div>
            <br />
            <div class="form">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input [formControl] = "firstName" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input [formControl] = "username" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input type="password" [formControl] = "password" matInput>
                </mat-form-field>
                <br/>
                <button mat-raised-button color="primary" (click)="signUp()" [disabled]="username.value.length == 0 || password.value.length === 0 || firstName.value.length === 0">Sign Up!</button>
                <hr />
                <button mat-raised-button color="accent" [routerLink]="['/Login']">Click to login</button>
            </div>
        </div>
    </div>
</mat-sidenav-content>